<!DOCTYPE html>
<html>

<head>
    <title>New Project in node hbs</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>
   <h2>{{title}}</h2>
   <h2>{{desc}}</h2>
   <h2>{{name}}</h2>

<div>
    {{>footer}}
</div>
</body>

</html>