<!DOCTYPE html>
<html>

<head>
    <title>FOOTER</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
   <footer>
        <a href="#">FACBOOK</a>
        <a href="#">GITHUB</a>
        <a href="#">LINKEDIN</a>
   </footer>
</body>

</html>