<!DOCTYPE html>
<html>

<head>
    {{!-- <title>HEADER</title> --}}
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

        <h2 class="header-title">{{title}}</h2>
        <div class="navabar">
            <a href="/">HOME</a>
            <a href="/service">SERVICE</a>
            <a href="/team">TEAM</a>
            <a href="/contact">CONTACT</a>
            <a href="/about">ABOUT</a>
        </div>


        </h3>
    
</body>

</html>